<html>
  <head>
    <title>Countdown</title>
    <link rel="stylesheet" href="mta/static/css/styles.css">
    <script src="mta/static/js/js.js"></script>
  </head>
  <body>
    <div class="body" id="main">
      <div id="stations">
        <div id="station0" class="hidden">
          <div class="stationTitle"></div>
          <div class="directions">
            <div class="inbound direction">
              <div class="inboundTitle"></div>
              <div class="inbound1 train">
                <div class="trainName"></div>
                <div class="countdown"></div>
                <div class="realtime"></div>
              </div>
              <div class="inbound2 train">
                <div class="trainName"></div>
                <div class="countdown"></div>
                <div class="realtime"></div>
              </div>
              <div class="inbound3 train">
                <div class="trainName"></div>
                <div class="countdown"></div>
                <div class="realtime"></div>
              </div>
            </div>
            <div class="outbound direction">
              <div class="outboundTitle"></div>
              <div class="outbound1 train">
                <div class="trainName"></div>
                <div class="countdown"></div>
                <div class="realtime"></div>
              </div>
              <div class="outbound2 train">
                <div class="trainName"></div>
                <div class="countdown"></div>
                <div class="realtime"></div>
              </div>
              <div class="outbound3 train">
                <div class="trainName"></div>
                <div class="countdown"></div>
                <div class="realtime"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="alerts hidden">
        <div class="alertsTitle">Alerts </div>
        <div class="alertsBody"></div>
      </div>
      <div class="alerts2 hidden">
        <div class="alertsTitle">Alerts </div>
        <div class="alertsBody"></div>
      </div>
    </div>
  </body>
</html>
